/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/

:root{
    color: #0084fd;
    color: #b5ddff;
    color: #9792e4;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.space-b{
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

.bottone{
    border-radius: 30%;
    padding: 10px;
    font-size: 17px;
}

.blue{
    color: white;
    background-color: #0084fd;
}

/*debug*/

.debug header{
    background-color: #0084fd;
    color: white;
}

/*header*/

.header-nav{
    display: none;
}

.logo{
    padding: 20px;
}

.flex >li{
    line-height:50px;
    padding: 20px;
    font-size: 20px;
}

.hamburger{
    line-height:50px;
    padding: 20px;
    font-size: 20px;
}

/*main*/
/*id-explain*/

.row { 
    margin-top: 30px;
}

.col{
    background-color: #b5ddff;
    border: 1px solid #b5ddff;
    border-radius: 5%;
    margin: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.col-info>h3, .col>h3{
    color: #0084fd;
    text-align: center;
    font-size: 25px;
}

.col-info>p, .col-info>h3, .col-info>.bottone, .col>p, .col>h3, .col>.h.col {
    margin:30px;
}

.col-info>.bottone{
    max-width: 200px;
}

.col-img{
    justify-content: center;
    align-items: center;
}

.col-img>img{
    max-width: 300px;
}

.h-col>i {
    padding: 20px;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    color: #0084fd;
}

.col>p, .col-info>p{
    color: black;
    font-size: 18px;
}

/*id-strategic*/
.container-strategic>img, .strategic-pt2>img{
    max-width: 100%;
}

.strategic-pt2{
    margin:30px;
    border-radius: 10%;
}

.container-strategic{
    background-color: #9792e4;
    padding: 20px;
}

.container-strategic>p, .container-strategic>h2{
    color: white;
    margin: 30px;
}

.strategic-pt2{
    background-color: white;
}

.arrow{
    text-align: center;
}
.fa-arrow-down{
    background-color:#9792e4;
    color: black;
    border: 1px solid #9792e4;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
}
.strategic-pt2>p{
    color: black;
    margin: 20px;
}
/*media*/
@media screen and (max-width: 480px){

}

@media screen and (min-width:481px) and (max-width:768px){
    /*main*/
    /*explain*/

    .col{
        width: calc((100% / 4)* 2);
        padding: 20px;
    }

    .col-piccole{
        width: calc(100% / 4);
    }

    .col-doppia{
        justify-content: space-between;
    }

    .row {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 992px) {
    /*header*/
    .header-nav{
        display: block;
    }

    .hamburger{
        display: none;
    }

    header>.space-b{
        justify-content: space-around;
    }
    /*main*/
    /*explain*/

    .col{
        width: calc((100% / 4)* 2);
        padding: 20px;
    }

    .col-piccole{
        width: calc(100% / 4);
    }

    .col-doppia{
        display: flex;
        justify-content: space-between;
    }

    .row {
        flex-direction: row;
        flex-wrap: wrap;
    }
}